#
#
# Destination config file for the backup script.
# Include this file by calling the script with the -d <this name without the prefix 'backup.' and suffix '.config'> option.
#
#

# If destination is to a local path, set DEST_IS_REMOTE to 0, else if the destination is to a remote location, set this variable to 1.
# For remote communication, SSH is used.
DEST_IS_REMOTE=0