#
#
# Source configuration file for the backup script.
# Include this file by calling the script with the -s <filename without the prefix 'backupset.' and suffix '.config'> option.
#
#

# The BACKUP_NAME should be a folder in DEST_BACKUP_DIR. Ie. ${DEST_BACKUP_DIR}/${BACKUP_NAME}
BACKUP_NAME="Photoalbum"

# Backup directory. Must be absolute path. Directory must exists and the executing user of the script should have read rights.
BACKUP_SOURCE_DIR=/volume1/Photoalbum